@page "/"
@inject NavigationManager NavigationManager;

<h3>Main Page</h3>

<div class="card col-sm-10">
    <div class="card-header">
        <div class="d-flex align-items-center">
            <h5>To Filter</h5>
        </div>
    </div>
    <div class="card-body">
        <dl class="row">

            <dt class="col-sm-6">
                <label>Block number</label>
                <div class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2" @bind="TransactionFilter.BlockNumber" placeholder="Filter by block number" />
                    <div class="btn-group mb-2" role="group">
                        <button type="button" class="btn btn-primary" @onclick="Filter">Filter</button>
                        <button type="button" class="btn btn-danger" 
                                @onclick="async _ => { TransactionFilter.BlockNumber = null; await Delete(); }">Delete</button>
                    </div>
                </div>
            </dt>
            <dt class="col-sm-6">
                <label>Contract address</label>
                <div class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2" @bind="TransactionFilter.ContractAddress" placeholder="Filter by contract address" />
                    <div class="btn-group mb-2" role="group">
                        <button type="button" class="btn btn-primary" @onclick="Filter">Filter</button>
                        <button type="button" class="btn btn-danger" 
                                @onclick="async _ => { TransactionFilter.ContractAddress = null; await Delete(); }">Delete</button>
                    </div>
                </div>
            </dt>
            <dt class="col-sm-6">
                <label>Method</label>
                <div class="form-inline">
                    <input type="text" class="form-control mb-2 mr-sm-2" @bind="TransactionFilter.MethodId" placeholder="Filter by method" />
                    <div class="btn-group mb-2" role="group">
                        <button type="button" class="btn btn-primary" @onclick="Filter">Filter</button>
                        <button type="button" class="btn btn-danger" 
                                @onclick="async _ => { TransactionFilter.MethodId = null; await Delete(); }">Delete</button>
                    </div>
                </div>
            </dt>
        </dl>

        
    </div>
</div>

@if (Transactions == null)
{
    <p><em>Loading ...</em></p>
}
else if (Transactions.Count() == 0)
{
    <p><em>Maybe your filters are wrong ...</em></p>
}
else
{
<table class="main-table">
    <thead>
        <tr>
            <th>Txn Hash</th>
            <th>Method</th>
            <th>Block</th>
            <th>Age</th>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="8" class="justify-content-center">
                <Pagination TotaPagesQuantity="TotalPageQuantity"
                            CurrentPage="TransactionFilter.Page"
                            Radius="2"
                            SelectedPage="SelectedPage" />
            </td>
        </tr>
    </tfoot>
    <tbody>
        @foreach (var row in Transactions)
        {
            <tr>
                <td>
                    <NavLink class="nav-link hash-width text-truncate" @onclick="@(_ => NavigationManager.NavigateTo($"details/{row.TxnHash}"))">
                        @row.TxnHash
                    </NavLink>
                </td>
                <td>@row.Method</td>
                <td>@row.Block</td>
                <td>@DateTimeOffset.FromUnixTimeSeconds((long)@row.Age).ToString("yyyy:MM:dd:HH:mm:ss")</td>
                <td>
                    <NavLink class="nav-link hash-width text-truncate" href="@row.From">
                        @row.From
                    </NavLink>
                </td>
                <td>
                    <NavLink class="nav-link hash-width text-truncate" href="@row.To">
                        @row.To
                    </NavLink>
                </td>
            </tr>
        }
    </tbody>
</table>
}
